.header {
  background-color: #464036;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 28px 20px 6px;
}
.headerLogo {
  width: 55px;
  height: 50px;
  background: url(../../../public/icons/logo.svg) no-repeat;
}
.headerMenu {
  background: url(../../../public/icons/menu.svg) no-repeat;
  width: 24px;
  height: 18px;
}
